* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    border: none;
    background: none;
    transition: all 0.3s;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
 }
 
 
 body {
    max-width: 1750px;
    margin: 0 auto;
    background-color: #ffffff;
 
 }
 
 main {
    padding-top: 20px;
    margin-bottom: 32px;
 }
 
 .mainContainer {
    width: 100%;
    padding-top: 20px;;
 }
 
 .main {
    width: 100%;
    display: flex;
    justify-content: center;
 }
 
 .telephones {
    position: relative;
    width: 420px;
    height: auto;
 }
 
 .telephone {
    position: absolute;
    height: 550px;
 }
 
 .telephone.front {
    z-index: 10000;
    left: 100px;
    top: 10px;
 }
 
 .form {
    padding-top: 20px;
    width: 350px;
    height: auto;
    
 }
 
 .firstForm {
    padding: 20px 40px 20px;
    display: flex;
    background-color: #fff;
    border: 1px solid #e4e3e3;
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 15px;
 }
 
 .firstForm input{
    width: 100%;
    padding: 9px 7px;
    font-size: 12px;
    background-color: #fbfafa;
    border: 1px solid #e4e3e3;
 }
 
 .login{
    background-color: #009BFB;
    color: #fff;
    border-radius: 8px;
    width: 100%;
    padding: 7px 5px;
    margin-top: 10px;
    font-size: 15px;
    font-weight:500;
    cursor: pointer;
    margin-bottom: 10px;
 }
 
 .img_logo {
    width: 175px;
    height: 60px;
    margin: 10px 0 20px
 }
 
 .or{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px;
 }
 .or span{
    border: 1px solid #D9D9D9;
    width: 100px;
 
 
 }
 .or p{
    color: #929191;
    font-size: 14px;
    font-weight: 500;
 }
 
 .facebook{
    color: #385185;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;;
 }
 
 .passw{
    color: #111;
    font-size: 12px;
    cursor:pointer;
 }
 
 .text{
    background-color: #fff;
    border: 1px solid #e4e3e3;
    border-radius: 1px;
    padding: 20px 25px;
    color: #111;
    font-size: 14px;
    display: flex;
    gap: 5px;
 }

 
 .regText{
    color: #009BFB;
    font-weight: 500;
 }
 
 .appImg{
    height: 40px;
 }
 .appInst{
    text-align: center;
    padding: 15px 0;
 }
 
 .appImg{
    display: flex;
    justify-content: center;
    gap: 10px;
 
 }
 footer{
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 10px;
    margin-top: 70px;
    padding-bottom: 30px;
}
footer p, footer p a{
    font-size: 12px;
    color: #818181;
}
 .info{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5f5d5d;
    font-size: 12px;
    gap: 25px;
 }